pkg
html
*.taskpaper
*.sublime*
.rake_tasks~
.sass-cache
helpfile.txt
.doingrc
.irb-history
buildnotes.md
vendor
.tool-versions
wwid.md
COMMANDS.bak
.gitsecret/keys/random_seed
!*.secret
lib/helpers/fzf
